.clear-button {
    margin: 10px auto;
    display: block;
}

.task {
    margin: 0 auto;
    width: 250px;
}

.task.hidden {
    display: none;
}

.task.completed > .title{
    text-decoration: line-through;
}

.subtask {
    padding: 5px 0;
    margin-left: 10px;
    cursor: pointer;
}

.subtask.completed {
    text-decoration: line-through;
}
